<?xml version="1.0" encoding="utf-8"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Theme>Light</Theme>
  <RunAtStartup>false</RunAtStartup>
  <MinimizeOnStart>false</MinimizeOnStart>
  <AllowRegedit>true</AllowRegedit>
  <AllowServices>true</AllowServices>
  <AllowTaskManager>true</AllowTaskManager>
  <AuditLogEnabled>false</AuditLogEnabled>
  <AuditLogPath />
  <ExportDefaultFolder />
  <CheckUpdatesAtStartup>false</CheckUpdatesAtStartup>
  <Language>vi</Language>
  <Windows11ToolsPath />
  <ProxyUrl />
</AppConfig>