<?xml version="1.0" encoding="utf-8"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Theme>Light</Theme>
  <RunAtStartup>false</RunAtStartup>
  <MinimizeOnStart>false</MinimizeOnStart>
  <AllowRegedit>true</AllowRegedit>
  <AllowServices>true</AllowServices>
  <AllowTaskManager>true</AllowTaskManager>
  <AuditLogEnabled>false</AuditLogEnabled>
  <AuditLogPath />
  <ExportDefaultFolder />
  <CheckUpdatesAtStartup>false</CheckUpdatesAtStartup>
  <Language>vi</Language>
  <Windows11ToolsPath />
  <TrialStartDate />
  <LastValidatedMachineCode>068505B1</LastValidatedMachineCode>
  <HardwareChangeCount>0</HardwareChangeCount>
  <ProxyUrl />
  <LicenseKey>ENC:AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdpdBKiXokEmnNcaDl6ascAAAAAACAAAAAAAQZgAAAAEAACAAAACjwalN4J87dAHzS8c8UVtV2AfskjALwXw3fEKa/S1tAQAAAAAOgAAAAAIAACAAAACvvY5JTi+nLgKvvH+mTZdVkB+d5uDDQeCQ69wv94igWGAAAADnRwzeoMdDn0jzh1/JUL6JDciXJih/FFChhSOC039R73h91xVaORCepamjP3bGwfvbUcUIEwDTZ+KFlTUmgE+mT2uk8KjBhJpbAGuYW3Shhv2Mb3rap1l3AlBlycYo7w5AAAAAE2+nO6fk7HCDZSKT8iXUKT4iGInu6FZ3A9z65yVvjQKcIxVI2z7kQ4uxH4XvdUS9DW1Z9Gi750KZhRT3SmbJBg==</LicenseKey>
  <LicenseServerUrl />
  <LicenseRevocationListUrl />
  <LastLicenseCheckDate />
  <LicenseKeyDev />
</AppConfig>